services:
  build-certs:
    image: docker.io/library/alpine:latest
    command: |
      sh -c '
      mkdir -p /certs;
      if [ ! -f /certs/cert.pem ]; then
        apk add --no-cache openssl
        openssl req -x509 -nodes -days 7 -newkey rsa:2048 \
          -keyout /certs/privkey.pem \
          -out /certs/cert.pem \
          -subj '/CN=localhost';
      fi
      '
    volumes:
      - ./dev-certs:/certs

  web:
    build:
      dockerfile: WEB.Dockerfile
      context: frontend
    ports:
      - 8000:443
    volumes:
      - ./dev-certs:/certs:ro
    depends_on:
      build-certs:
        condition: service_completed_successfully

