name: Build and Push Images

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        image:
          - name: api
            dockerfile: backend/API.Dockerfile
            context: backend
          - name: db
            dockerfile: backend/DB.Dockerfile
            context: backend
    steps:
      - uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Build and push ${{ matrix.image.name }}
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ${{ matrix.image.context }}
          file: ${{ matrix.image.dockerfile }}
          push: true
          tags: |
            ghcr.io/${{ github.repository }}-${{ matrix.image.name }}:latest
            ghcr.io/${{ github.repository }}-${{ matrix.image.name }}:${{ github.sha }}

  deploy:
      runs-on: ubuntu-latest
      needs: build-and-push
      steps:
        - name: Deploy to the server via SSH
          uses: appleboy/ssh-action@v1
          with:
            host: ${{ secrets.DEPLOY_HOST }}
            username: ${{ secrets.DEPLOY_USERNAME }}
            key: ${{ secrets.DEPLOY_KEY }}
            script: podman auto-update
